@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
    --primary-color: rgb(164, 203, 248);
    --dark-grey: #475569;
    --off-white: #1a4c53;
}

body {
    font-family: "Lora", sans-serif;
    background-color: hsl(0, 0%, 100%);
}

textarea,
#output-area {
    font-family: "Lora", sans-serif;
    outline: none;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline-style: none;
    width: 60%;
    height: 10vh;
    border: none;
    padding: 1rem;
    display: block;
    border-radius: 1rem 1rem;
    background-color: #f1f5f9;


}




h1 {
    text-align: center;
    padding: 1rem;
    font-weight: 600;
}

#btn-translate {
    font-family: "Lora", sans-serif;
    height: 4vh;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 226, 231);
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    /* padding: 1rem 1rem; */
    border-radius: .5rem;
    color: rgb(0, 0, 0);
    border: none;
    font-weight: 400;
}

.div {
    margin-top: 5rem;

}

/* .output-msg{
    text-align: center;
    margin-bottom: 2rem;
text-decoration-style: solid;
} */

.footer {

    text-align: center;
    display: block;

    padding: 8rem 4rem;
    border-top-right-radius: 2rem;
    font-weight: 600;


}